// main css
@import '~pretty-checkbox/src/pretty-checkbox.scss';
$lsAppHighlight: #009af2;
$pretty--color-primary: $lsAppHighlight;


.full-width {
  width: 100%;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
